/* david emmanuel doe869 */

.landing-container {
  padding: 2rem;
  background-color: rgba(21, 145, 99, 0.747);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  max-width: 600px;
  background: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.description h2 {
  color: #333;
  margin-bottom: 1rem;
}

.description h3 {
  color: #007bff;
  margin-bottom: 1rem;
}

.description p {
  color: #555;
  line-height: 1.6;
}
